<div class="relative w-full max-w-full m-auto">
    <div class="carousel-container overflow-hidden">
        <div class="carousel" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
            <ng-container *ngFor="let item of carouselData">
                <div class="carousel-item">
                    <img [src]="item.image" alt="image-carousel" />
                </div>
            </ng-container>
        </div>
    </div>
    <div
        class="absolute top-1/2 left-1/2 flex flex-col justify-center items-center z-[1] text-center w-full"
        style="transform: translate(-50%, -50%)"
    >
        <div class="mb-5">
            <span class="text-white font-medium text-3xl shadow-sm"
                >Datvevt.com - Cam kết hoàn 150% nếu nhà xe không giữ vé</span
            >
        </div>
        <app-search-widget class="xl:w-[70%] lg:w-[100%] flex justify-center"></app-search-widget>
    </div>
</div>
