<div class="bg-[#f3f3f3] text-[#767676] text-left px-5 lg:px-20 border-t-2">
    <div class="container">
        <div class="py-3 flex justify-between">
            <div class="px-4">
                <h1 class="pb-5 text-lg font-semibold text-[#4D4D4D]">Về chúng tôi</h1>
                <p class="mb-2 hover:text-[#40a9ff]">Phần mềm quản lý</p>
                <p class="mb-2 hover:text-[#40a9ff]">Giới Thiệu</p>
                <p class="mb-2 hover:text-[#40a9ff]">Tuyển dụng</p>
                <p class="mb-2 hover:text-[#40a9ff]">Tin tức</p>
                <p class="mb-2 hover:text-[#40a9ff]">Liên hệ</p>
            </div>
            <div class="px-4 col-span-3">
                <h1 class="pb-5 text-lg font-semibold text-[#4D4D4D]">Hỗ trợ</h1>
                <p class="mb-2 hover:text-[#40a9ff]">Hướng dẫn thanh toán</p>
                <p class="mb-2 hover:text-[#40a9ff]">Quy chế</p>
                <p class="mb-2 hover:text-[#40a9ff]">Chính sách bảo mật thông tin</p>
                <p class="mb-2 hover:text-[#40a9ff]">Chính sách bảo mật thanh toán</p>
                <p class="mb-2 hover:text-[#40a9ff]">
                    Chính sách và quy trình giải quyết <br />
                    tranh chấp, khiếu nại
                </p>
                <p class="mb-2 hover:text-[#40a9ff]">Câu hỏi thường gặp</p>
                <p class="mb-2 hover:text-[#40a9ff]">Tra cứu đơn hàng</p>
            </div>
            <div class="px-4 col-span-3">
                <h1 class="pb-5 text-lg font-semibold text-[#4D4D4D]">Chứng nhận</h1>
                <div class="mb-2">
                    <img src="https://229a2c9fe669f7b.cmccloud.com.vn/images/Home/certificate0.png" alt="" />
                </div>
                <div class="mb-2">
                    <img src="https://229a2c9fe669f7b.cmccloud.com.vn/images/Home/certificate1.png" alt="" />
                </div>
                <div class="mb-2">
                    <img src="https://229a2c9fe669f7b.cmccloud.com.vn/images/dangkybocongthuong.png" alt="" />
                </div>
                <div class="mb-2">
                    <img src="https://229a2c9fe669f7b.cmccloud.com.vn/images/dangkybocongthuong.png" alt="" />
                </div>
            </div>
            <div class="px-4 col-span-3">
                <h1 class="pb-5 text-lg font-semibold text-[#4D4D4D]">Tải ứng dụng</h1>
                <div class="mb-2">
                    <img
                        class="w-[150px] h-[49px] align-middle"
                        src="https://229a2c9fe669f7b.cmccloud.com.vn/images/landingpagetet2018/GP-icon.png?v=2"
                        alt=""
                    />
                </div>
                <div class="mb-2">
                    <img
                        class="w-[150px] h-[49px] align-middle"
                        src="https://229a2c9fe669f7b.cmccloud.com.vn/images/landingpagetet2018/AP-icon.png?v=2"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-10 text-center text-[#767676] bg-white">
    <h2 class="font-semibold text-[#4D4D4D]">Công ty TNHH Thương Mại Dịch Vụ Đặt Vé VT</h2>
    <p>Địa chỉ: 364 Cộng Hòa, Phường 13, Quận Tân Bình, TP. Hồ Chí Minh, Việt Nam</p>
    <p>Giấy chứng nhận ĐKKD số 6546998869 do Sở KH và ĐT TP. Hồ Chí Minh cấp lần đầu ngày 5/10/2023</p>
    <p>Bản quyền &copy; 2023 thuộc về datvevt.com</p>
</div>
