<form class="form-login">
    <mat-form-field appearance="outline">
        <mat-icon class="text-[#9B9B9B] mr-1" matPrefix>phone</mat-icon>
        <input matInput type="tel" placeholder="Nhập số điện thoại" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-icon class="text-[#9B9B9B]" matPrefix>password</mat-icon>
        <input matInput type="password" placeholder="Nhập mật khẩu" [type]="hidePassword ? 'password' : 'text'" />
        <span class="password-toggle" (click)="togglePassword()">
            <mat-icon class="password-icon">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </span>
    </mat-form-field>
    <a mat-button routerLink="/forgot-password">Quên mật khẩu</a>
    <button mat-raised-button color="primary" class="mb-4">Đăng nhập</button>
    <button mat-raised-button color="primary">
        <div class="flex items-center space-x-2">
            <img src="	https://fonts.gstatic.com/s/i/productlogos/googleg/v6/24px.svg" alt="logo_google">
            <div>Login with Google</div>
        </div>
    </button>
</form>
