<form class="form-login">
    <mat-form-field appearance="outline">
        <mat-icon class="text-[#9B9B9B] mr-1" matPrefix>phone</mat-icon>
        <input matInput placeholder="Nhập số điện thoại">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-icon class="text-[#9B9B9B] mr-1" matPrefix>password</mat-icon>
        <input matInput type="password" placeholder="Nhập mật khẩu" [type]="hidePassword ? 'password' : 'text'">
        <span class="password-toggle" (click)="togglePassword()">
            <mat-icon class="password-icon">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </span>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-icon class="text-[#9B9B9B] mr-1" matPrefix>password</mat-icon>
        <input matInput type="password" placeholder="Nhập lại mật khẩu"
            [type]="hideRequirePassword ? 'password' : 'text'">
        <span class="password-toggle" (click)="toggleRequirePassword()">
            <mat-icon class="password-icon">{{ hideRequirePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </span>
    </mat-form-field>
    <button mat-raised-button color="primary">Đăng ký</button>
</form>
